@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    background: #f1f1f1;
    @apply dark:bg-gray-900; 
    @apply bg-white; 
    @apply text-gray-900; 
    @apply antialiased; 
    font-family: 'Inter', sans-serif;
  }
}
